@import "src/theme/theme-variables";

.navbar {
  margin-bottom: $spacer;
  a {
    color: $white;
    font-size: 1.3em;
  }
  .nav-link {
    padding: 0rem 0rem;
  }
}

.nav-link.dropdown-toggle {
  cursor: pointer;
}

.logo-brand {
  text-indent: -999em;
  background: transparent url("assets/logoBrand.svg") center center no-repeat;
}

.dropdown-toggle:after {
  display: none;
}

#navbar-menu > div > a > span {
  white-space: nowrap;
}
