@import "src/theme/theme-variables";

.navbar {
  margin-bottom: $spacer;
}

.nav-link.dropdown-toggle {
  cursor: pointer;
}

.logo-brand {
  text-indent: -999em;
  background: transparent url("assets/logoBrand.svg") center center no-repeat;
}

.dropdown-toggle:after {
  display: none;
}

#navbar-menu > div > a > span {
  white-space: nowrap;
}
