/*
 * Entry point of global application style.
 * Component-specific style should not go here and be included directly as part of the components.
 */

// Theme variables, must be included before the libraries to allow overriding defaults
@import "theme/theme-variables";

// 3rd party libraries
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-brands.scss";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-regular.scss";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-solid.scss";

// Theme customization
@import "theme/theme";

// Custom
// Extra Large
@media only screen and (min-width: 1200px) {
}

// Large
@media only screen and (max-width: 1199px) {
}

// Medium
@media only screen and (max-width: 991px) {
  .navbar {
    padding: 0.75rem 1rem;
  }

  .navbar-collapse {
    position: absolute;
    background-color: $black-1;
    top: 57px;
    left: 0;
    width: 95%;
    height: 5000px;
    padding: 12px 20px;
    opacity: 0.85;
  }

  //brand in center - for mobile
  .navbar-brand {
    display: block;
    width: 54px;
  }

  .navbar-nav .dropdown-menu {
    position: absolute;
  }
}

//
@media only screen and (min-width: 992px) {
  .navbar {
    a {
      margin-right: 10px;
    }
  }
}

// ----------------------------------------------------

//
@media only screen and (max-width: 767px) {
}

// Extra Small
@media only screen and (max-width: 575px) {
}

// CSS Debug - orientation: portrait or landscape
@media only screen and (min-width: 0px) and (max-width: 100000px) and (orientation: portrait) {
  div {
    // border: 1px solid red;
  }
}
